.main {
  min-height: 50rem;
  padding: 3rem 4.5rem;
  background-color: #E5D3A7;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
}

.text {
  font-family: serif;
  font-size: 1.9rem;
  color: #222222;
  line-height: 2.5rem;

  &:first-child::first-letter {
    font-size: 3.5rem;
  }

  &:not(:first-child) {
    margin-top: 2.5rem;
  }
}
